@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import "tailwindcss";
@import "flowbite/src/themes/default";
@plugin "flowbite/plugin";
@source "../node_modules/flowbite/";

/* costume css variable */
@theme {
  --font-poppins: "Poppins", sans-serif;
  --color-primary: #734a00;
  --color-secondary: #fff7e8;
  --color-dark: #131313;
  --shadow-soft: 0 4px 4px rgba(0, 0, 0, 0.25);

  /* --color-primary: #734a00;
  --color-secondary: #ffa500;
  --color-dark: #131313;
  --color-bgMain: #ffff;
  --color-bgPri: #fff7e8; */
}

/* custom html tag */
@layer base {
  a {
    font-weight: 500;
    color: #734a00;
    text-decoration: inherit;
  }
  a:hover {
    color: #ffa500;
  }

  body {
    margin: 0;
    display: flex;
    place-items: center;
    min-width: 320px;
    min-height: 100vh;
  }

  h1 {
    font-size: 3.2em;
    line-height: 1.1;
  }
}

/* custom css class */
@layer components {
  .card-container {
    display: flex; /* ✅ This is the magic line! */
    flex-wrap: wrap; /* Allows cards to wrap to the next line on small screens */
    gap: 16px;
  }
}

.sideMenu.active {
  @apply bg-secondary;
}
.sideMenu.active svg {
  @apply text-secondary;
}
.sideMenu.active span {
  @apply text-primary;
}

input::-ms-reveal,
input::-ms-clear {
  display: none;
}

input::-webkit-credentials-auto-fill-button,
input::-webkit-textfield-decoration-container,
input::-webkit-clear-button,
input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
  display: none !important;
  -webkit-appearance: none;
}

:root {
  font-family: poppins, sans-serif;
  line-height: 1.5;
  font-weight: 500;

  color-scheme: light;
  color: #131313;
  background-color: #ffff;
}
