@import "tailwindcss";
@import "flowbite/src/themes/default";
@plugin "flowbite/plugin";
@source "../node_modules/flowbite/";

/* costume css variable */
@theme {
  --color-primary: #734a00; /* buat warna font utama */
  --color-secondary: #ffa500; /* buat hover */
  --color-dark: #131313; /* font hitam */
  --color-bgMain: #ffff; /* background utama */
  --color-bgPri: #fff7e8; /* backgorund buat priamry font */
}

/* custom html tag */
@layer base {
  a {
    font-weight: 500;
    color: #734a00;
    text-decoration: inherit;
  }
  a:hover {
    color: #ffa500;
  }

  body {
    margin: 0;
    display: flex;
    place-items: center;
    min-width: 320px;
    min-height: 100vh;
  }

  h1 {
    font-size: 3.2em;
    line-height: 1.1;
  }
}

/* custom css class */
@layer components {
  .card-container {
    display: flex; /* ✅ This is the magic line! */
    flex-wrap: wrap; /* Allows cards to wrap to the next line on small screens */
    gap: 16px;
  }
}

:root {
  font-family: poppins, sans-serif;
  line-height: 1.5;
  font-weight: 100;

  color-scheme: light;
  color: #131313;
  background-color: #ffff;
}
