@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import "tailwindcss";
@import "flowbite/src/themes/default";
@plugin "flowbite/plugin";
@source "../node_modules/flowbite/";

/* costume css variable */
@theme {
  --font-poppins: "Poppins", sans-serif;
  --color-primary: #734a00; /* font Utama/bg-utama */
  --color-secondary: #fff7e8; /* hover */
  --color-accent: #ffa500; /*for hover element/ highlight*/
  --color-dark: #131313; /* font judul */
  --shadow-soft: 0 4px 4px rgba(0, 0, 0, 0.25);
  --color-success: #a2f7b7;
  --color-danger: #e0272a;

  /* --color-primary: #734a00;
  --color-secondary: #ffa500;
  --color-dark: #131313;
  --color-bgMain: #ffff;
  --color-bgPri: #fff7e8; */
}

/* custom html tag */
@layer base {
  a {
    font-weight: 500;
    color: #734a00;
    text-decoration: inherit;
  }
  a:hover {
    color: #ffa500;
  }

  html {
    @apply scroll-smooth;
  }

  body {
    margin: 0;
    /* display: flex; */ /* blm terlalu dipakai */
    /* place-items: center; */ /* blm terlalu dipakai */
    min-width: 320px;
    min-height: 100vh;
  }

  h1 {
    font-size: 3.2em;
    line-height: 1.1;
  }
}

html {
  @apply scroll-smooth;
}

.navActive {
  @apply text-accent;
}
.navActive span {
  @apply bg-accent w-full opacity-100;
}

/* Setting sidebar for mobile view */
.sideMenu.active div {
  @apply bg-secondary;
}
/* .sideMenu.active .animateSBar {
  @apply w-full;
} */
.sideMenu.active svg {
  @apply text-accent;
}
.sideMenu.active span {
  @apply text-primary;
}
.sideMenu.activeDMenu span {
  @apply text-primary;
}
.sideMenu.activeDMenu svg {
  @apply text-accent;
}
.sideMenu.activeDMenu div {
  @apply bg-secondary;
}

/* this's for hidden eye in input element */
input::-ms-reveal,
input::-ms-clear {
  display: none;
}
input::-webkit-credentials-auto-fill-button,
input::-webkit-textfield-decoration-container,
input::-webkit-clear-button,
input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
  display: none !important;
  -webkit-appearance: none;
}

:root {
  font-family: "Poppins", sans-serif;
  line-height: 1.5;
  font-weight: 400; /* Font weight normal */
  color-scheme: light;
  color: #131313;
  background-color: #ffff;
}
.hero-title .ql-editor {
  font-size: 1.5rem;
  font-weight: 700;
  overflow: hidden;
  padding: 0;
}

.border-lp .ql-bubble{
  border: 2px dashed black;
  border-radius: 10px;
}

.ql-toolbar.ql-snow {
  background-color: rgb(243, 244, 246, 0.35); 
  border-radius: 8px 8px 0 0;
}

.ql-snow .ql-stroke {
  stroke: black !important;
}
.ql-snow .ql-fill {
  fill: white !important;
}


.ql-snow .ql-picker.ql-header .ql-picker-label::before {
  color: black;
  font-weight: bold;
}



/* Style text Editor 
.ql-editor.ql-blank {
  @apply min-h-auto sm:min-h-[200px] md:min-h-[180px] lg:min-h-[250px];
}
.ql-editor {
  @apply min-h-auto sm:min-h-[200px] md:min-h-[180px] lg:min-h-[250px];
}
.ql-editor p,
ol {
  @apply text-primary font-poppins text-sm sm:text-base;
}
.ql-editor h2 {
  @apply font-poppins text-primary text-2xl font-semibold md:text-3xl lg:text-4xl;
}
.ql-editor h3 {
  @apply font-poppins text-primary text-xl font-semibold md:text-2xl lg:text-3xl;
} 
.ql-editor h1 {
  @apply font-poppins text-primary text-3xl font-semibold md:text-4xl lg:text-3xl;
} */

/* .blog-lp .swiper-wrapper {
  transition-timing-function: linear !important;
}
  
